{% extends "layout.html" %}

{% block content %}
<style>
  table, th , td  {
    border:1px solid #340909;
    margin: 50px;
   text-align: center;
  }
  </style>
  <main class="container signup-section">
    <div class="section-content">
      <h2>Delete a Book </h2>

      <form method="POST">

        <div class="form-group">
          <label> ISBN :</label>
          <input type=text name=isbn placeholder="ISBN" />
        </div>        
          <input type="submit" value="Delete book" class="btn-primary"/>

        
      </form>
    </div>
  </main>
{% endblock %}