{% extends 'layout.html' %}


{% block content %}
<style>
  table, th , td  {
    border:1px solid #340909;
    margin: 50px;
   text-align: center;
  }
  </style>

<table style="width:60%;background-color: black;color:white">
  
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Page</th>
    </tr>
    {%for book in allbooks %}
    <tr>
      <td>{{book[0]}}</td>
      <td>{{book[1]}}</td>
      <td>{{book[2]}}</td>
      <td>{{book[3]}}</td>
      <td>{{book[4]}}</td>
    </tr>
    {% endfor %}
  </table> 
  <a href="/deletebook" class="btn-primary" style="margin: 50px;">Delete Book</a>
{% endblock %}